<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Manager</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
          <button type="button" class="btn btn-dark float-right" data-toggle="modal" data-target="#exampleModal" id="addTaskButton">
  Add Task
</button>
            <h2 class="text-dark text-left">Task Manager</h2>
            <hr>

            <h3 v-if="tasks.length === 0">No tasks to show<hr></h3>
            <table v-else class="table table-dark table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Started</th>
                    <th scope="col">Finished</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="task in tasks" :key="task.id">
                    <th v-if="task.finished!=''" scope="row" class="bg-primary">{{task.id}}</th>
                    <th v-else class="bg-danger">{{task.id}}</th>
                    <td v-if="task.finished!=''" style="text-decoration:line-through;">{{task.name}}</td>
                    <td v-else>{{task.name}}</td>
                    <td v-if="task.finished!=''" style="text-decoration:line-through;">{{task.started}}</td>
                    <td v-else>{{task.started}}</td>
                    <td @click="finish(task.id)" style="cursor:pointer">{{task.finished}}</td>
                    <td @click="remove(task.id)" class="text-danger" style="cursor:pointer"><strong>Delete</strong></td>
                  </tr>
                </tbody>
              </table>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Task Name:</label>
                  <input v-model="taskname" type="text" class="form-control" id="recipient-name">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button @click="addTask" type="button" class="btn btn-dark" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
<footer class="bg-dark text-center text-white fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://cadev.netlify.app/">CA DEV</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="app.js"></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1612608979329702"
     crossorigin="anonymous"></script>
    </body>
</html>
